<div class="min-h-screen bg-[#f5f5f7] px-6 py-10">

  <div class="max-w-6xl mx-auto">

    <div class="mb-10 text-center">

      <h1 class="text-5xl font-semibold tracking-tight text-gray-900">
        Employee Dashboard
      </h1>
    </div>

    <div
      class="overflow-hidden rounded-3xl border border-gray-200 bg-white/80 shadow-2xl backdrop-blur-xl">
      <div class="border-b border-gray-200 px-8 py-5 flex flex-col md:flex-row md:items-center md:justify-between gap-4 bg-white">

        <div>
          <h2 class="text-3xl font-semibold text-gray-900 tracking-tight">
            Employee List
          </h2>

          <p class="text-sm text-gray-500 mt-1">
            Manage and search employee records
          </p>
        </div>

        <div>

          <input
            type="text"
            placeholder="Search employee..."
            [(ngModel)]="searchText"
            (input)="searchEmployee()"
            class="w-full md:w-80 px-5 py-3 rounded-2xl border-1 border-gray-200 shadow-sm text-gray-700 placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-300 focus:bg-white transition duration-300"
          />

        </div>

      </div>

      <!-- Table -->
      <div class="overflow-x-auto">

        <table class="w-full">

          <!-- Table Head -->
          <thead class="bg-[#fafafa]">

          <tr class="text-sm uppercase tracking-wider text-gray-500">

            <th class="px-8 py-5 text-left font-medium">
              ID
            </th>

            <th class="px-8 py-5 text-left font-medium">
              First Name
            </th>

            <th class="px-8 py-5 text-left font-medium">
              Last Name
            </th>

            <th class="px-8 py-5 text-left font-medium">
              Salary
            </th>

          </tr>

          </thead>

          <!-- Table Body -->
          <tbody>
          <tr
            *ngFor="let employee of filteredEmployees"
            class="border-t border-gray-100 transition hover:bg-gray-50">

            <td class="px-8 py-6 font-medium text-gray-800">
              {{ employee.id }}
            </td>

            <td class="px-8 py-6 text-gray-700">
              {{ employee.firstName }}
            </td>

            <td class="px-8 py-6 text-gray-700">
              {{ employee.lastName }}
            </td>

            <td class="px-8 py-6 font-semibold text-green-600">
              ₹{{ employee.salary }}
            </td>

          </tr>

          </tbody>
        </table>

      </div>

    </div>

  </div>

</div>
